/* Global Styles */
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

/* Body Styles */
body {
    background: -webkit-linear-gradient(to right, #01141B, #013F54);  

    background: linear-gradient(to right, #01141B, #013F54); 
}

/* Navbar */
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 50px;
    color: #fff;

    /* Background */
    background: -webkit-linear-gradient(to right, #013F54, #01141B);  

    background: linear-gradient(to right, #013F54, #01141B); 
}

.nav > ul {
    list-style-type: none;
}

.nav li {
    display: inline;
    cursor: pointer;
    margin: 5px 20px 5px 0px;
}

/* Parent Content Styling */
.content {
    display: flex;
    margin: 0 200px 0 200px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.heading {
    margin-top: 30px;
}

.paragraph {
    margin: 10px 0 20px 0;
    word-wrap: break-word;
    text-align: center;
}

.tagline {
    text-align: center;
    margin-top: 15px;
}

/* Video */
.video {
    width: 65%;
    height: 400px;
}

.play-btn {
    border: none;
    border-radius: 50%;
    padding: 10px;
    font-size: 40px;
    text-align: center;
    color: #fff;
    background-color: #1872EA;

    position: absolute;
    top: 49%;
    left: 47%;
}

/* Button */
.btn {
    border-radius: 99px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    padding: 8px;
    color: #fff;
    background-color: #1272E8;
}

/* FAB */
.float-btn {
    cursor: pointer;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    border: none;
    border-radius: 999px;
    padding: 15px;
}